  tab1{
    border: none;
  }  
  table{
    border: 5px solid #4F200D; border-collapse:collapse; margin:10px auto;
    background-color: #FFD93D;
  }
  td, th{
    border-bottom: 1px solid #4F200D;
    border-collapse:collapse;
    padding:15px;
  }
  body {
    font-family: Tahoma;
    color: black;
    font-size:1.125em;
    background-image: url(https://media.istockphoto.com/id/469660542/photo/favourite-burger-toppings.jpg?s=612x612&w=0&k=20&c=FAddvtpprWAuyIEeD7QxavR6CXD7pzkLHwRsWF01daY=), url(https://img.freepik.com/free-vector/realistic-cheeseburger-chalkboard-background_79603-1044.jpg);
    background-color: gray;
  }
  th {
    background-color: #4F200D;
    color: white;
  }
  input[type=text], textarea, select { 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color:#4F200D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: verdana; 
    font-size:1.125em;
  }
  input[type=submit]:hover {
    background-color: #B8621B;
    color: white;
  }
  textarea {
    resize:none
  }
